<!--   <div class="Home">

  <p>home works!</p>

</div>

  <section>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  
  <mat-divider></mat-divider>
-->
<body>

<section class="full">
  <div class="full-iner">
    <div class="content">
      <h1>Bienvenidos al Colegio Hogwarts de Magia y Hechizeria.</h1>
    </div>


  </div>




</section>


</body>