<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
    </ng-container>

    
    <!--
    
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    
    <ng-container matColumnDef="activated">
      <th mat-header-cell *matHeaderCellDef> Activate </th>
      <td mat-cell *matCellDef="let element"> 

      <mat-slide-toggle 
      [checked]="element.activated">
      Activado:
      </mat-slide-toggle>

      </td>
    </ng-container>


      -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>